<ion-view title="VisitaRio" hide-back-button="true" id="page1">

  <ion-content padding="true" class="has-header">

    <div>
      <img src="img/igJmE1HNRnSWAOf6ScHs_opQy60FTca2GWG6nH8BX_rio-de-janeiro-rj.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div id="visitaRio-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lacus hendrerit, porttitor risus id, mattis arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi dictum lacus eu magna porta
        commodo. Quisque pharetra volutpat ex, ut posuere leo varius fringilla. Aliquam enim orci, ullamcorper vel nisi vitae, finibus tristique ipsum. Pellentesque tincidunt ligula a elit gravida, in tristique libero interdum. Vestibulum vitae ante vitae
        felis.</p>
    </div>

    <a ui-sref="visitaRio2" id="visitaRio-button1" style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-assertive  button-block">Começar</a>

  </ion-content>

</ion-view>
