<ion-view title="VisitaRio" id="page2">

  <ion-content padding="true" class="has-header">

    <h4 id="visitaRio2-heading2" style="color:#000000;">Selecione o que deseja encontrar!</h4>

    <ion-list id="visitaRio2-list14">

      <ion-item class="assertive" id="visitaRio2-list-item16" ui-sref="visitaRio3">Praias</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item17" ui-sref="visitaRio4">Hotéis</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item18" ui-sref="visitaRio5">Eventos</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item19" ui-sref="visitaRio10">Restaurantes</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item20" ui-sref="visitaRio6">Delegacias</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item21" ui-sref="visitaRio7">Hospitais</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item22" ui-sref="visitaRio8">Pontos Turísticos</ion-item>
      <ion-item class="assertive" id="visitaRio2-list-item23" ui-sref="visitaRio9">Banheiros</ion-item>

    </ion-list>

  </ion-content>

</ion-view>
